<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SqlConnectionString" connectionString="Data Source=LAPTOP-J7TM7QA2\SQLEXPRESS19;Initial Catalog=VaccinationCenter;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>